<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      property="og:title"
      content="The 1 and Only Publicising - Buy & Create Merchandise and Books"
    />
    <meta
      property="og:description"
      content="The 1 and Only Publicising is an innovative e-commerce platform where users can buy exclusive merchandise and unleash their creativity by writing and publishing their own books and stories."
    />
    <meta property="og:image" content="/Logo.png" />
    <meta property="og:url" content="https://www.the1andonlypublishing.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="The 1 and Only Publicising" />
    <meta property="og:locale" content="en_US" />
    <meta
      name="facebook-domain-verification"
      content="6yut2r3uesqgdpnnryu468mbrn8ahf"
    />
    <meta name="theme-color" content="#D4A74A" />
    <link rel="icon" type="image/svg+xml" href="/Logo.png" />
    <link rel="preload" href="image-url" as="image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Manrope:wght@400;700&family=Plus+Jakarta+Sans:wght@400;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>the 1 and only Publishing</title>

    <!-- GA Placeholder -->
    <!-- Google Analytics will be injected during build -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-16830912875"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-16830912875");
    </script>

    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1125490909382092");
      fbq("track", "PageView");
    </script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5CYR377BLF"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5CYR377BLF");
    </script>
    <script type="module" crossorigin src="/assets/index-BFKp-hzv.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-CRnG2b58.css">
  </head>
  <body>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=1125490909382092&ev=PageView&noscript=1"
    /></noscript>

    <div id="root"></div>
  </body>
</html>
